node_modules/
test/unit/coverage
test/e2e/reports
dist/
log/*.log
log/*.err
log/*.txt
log/*.json
log/*.html
data/*.json
data/*.yml
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
data/*.tmpl
data/*.md
undefined/
temp/
.sass-cache/
.gocache/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log*
*.prd.json
*.secret/
*.temp/
*.secret.conf
*.temp.conf
*.secret.ini
*.temp.ini
*.secret.yml
*.temp.yml
*.secret.json
*.temp.json
*.secret.go
*.temp.go
*.secret.sh
*.temp.sh
*.secret.txt
*.temp.txt
*.secret.log
/main
